/*.form-label {
    -fx-font-size: 20;
}

.form-editor {
    -fx-font-size: 20;
}

.form-title {
    -fx-font-size: 20;
    -fx-text-fill: dimgray;
}*/

.form-tooltip {
    -fx-font-size: 11;
    -fx-text-fill: gray;
}